@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  margin: 0 auto;
  text-align: center;
}

body {
  background: var(--color-background);  
}

@theme {
  --color-button: #cedcca;
  --color-button-shade:#a4b0a1;
  --color-vibe-green: #38a594;
  --color-background: #e1e5e5;
  --color-vibe-green-shade: #2c8476;
}
